# Dependencies
node_modules/

# Build output
dist/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# IDE files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS specific files
.DS_Store
Thumbs.db